<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.eaglegames.joel.moreorless" version="1.0.0" versionCode = "1" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0">

    <name>More or Less</name>

    <description></description>

    <author email="joel@familiehari.ch">Joel Hari</author>

    <content src="index.html"/>
    
    <platform name="android" />

    <preference name="Fullscreen" value="true"/>

    <preference name="DisallowOverscroll" value="true"/>

    <preference name="Orientation" value="portrait"/>

	<gap:plugin name="phonegap-admob" source="npm"/>
    
    <icon src="images/world2.svg" />

</widget>