body {
	background-color: rgb(241, 241, 237);
	background-color: hsl(60, 12%, 94%);
	max-width: 1000px;
	margin: 20px auto;
}

header {
	#background-color: rgb(168, 224, 255);
	#background-color: hsl(201, 100%, 83%);
	background-color: rgb(130, 130, 130);
	background-color: hsl(0, 0%, 51%);
	padding: 1em;
	border: 1px solid;
}

article {
	#background-color: rgb(168, 174, 255);
	#background-color: hsl(236, 100%, 83%);
	background-color: rgb(176, 176, 176);
	background-color: hsl(0, 0%, 69%);
	padding: 1em;
	border: 1px solid;
	border-top: 0;
	font-family: Arial;
}

h1 {
	margin-top: 0;
	font-family: Arial Black;
	font-size: 50px;
}

h2 {
	margin-top: 0.3em;
	font-family: Arial Black;
	font-size: 25px;
}

#tabelle1 {
	width: 100%;
	border-spacing: 2px;
}

#tabelle2 {
	width: 100%;
	border-spacing: 0px;
}

#th1 {
	width: 16%;
	text-align: center;
	background-color: rgb(241, 241, 237);
	background-color: hsl(60, 12%, 94%);
	border: 1px solid;
	height: 30px;
}

#td2 {
	width: 33%;
	text-align: left;
	background-color: rgb(241, 241, 237);
	background-color: hsl(60, 12%, 94%);
	border-left: 2px;
}

#td3 {
	text-align: left;
	background-color: rgb(241, 241, 237);
	background-color: hsl(60, 12%, 94%);
	padding: 1em;
}

a {
	color: black;
	text-decoration: none;
	font-family: Arial;
}

img {
	border: 1px black solid;
}