* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

body {
    background-color: skyblue;
}


#game {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
}
#darkness {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
#higher {
    position: fixed;
    top: 71.25%;
    height: 7%;
    width: 100%;
    background-image: url(../images/button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#lower {
    position: fixed;
    top: 79.75%;
    height: 7%;
    width: 100%;
    background-image: url(../images/button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#higher_pressed {
    position: fixed;
    top: 71.25%;
    height: 7%;
    width: 100%;
    background-image: url(../images/button_pressed.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#lower_pressed {
    position: fixed;
    top: 79.75%;
    height: 7%;
    width: 100%;
    background-image: url(../images/button_pressed.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#text1 {
    position: fixed;
    top: 8%;
    width: 100%;
}
#text2 {
    position: fixed;
    top: 16%;
    width: 100%;
}
#text3 {
    position: fixed;
    top: 25%;
    width: 100%;
}
#text4 {
    position: fixed;
    top: 38%;
    width: 100%;
}
#text5 {
    position: fixed;
    top: 58%;
    width: 100%;
}
#text6 {
    position: fixed;
    top: 66%;
    width: 100%;
}
#text7 {
    position: fixed;
    top: 75%;
    width: 100%;
    display: none;
}
#text8 {
    position: fixed;
    top: 88%;
    width: 100%;
}
#text9 {
    position: fixed;
    top: 72.25%;
    width: 100%;
}
#text10 {
    position: fixed;
    top: 81%;
    width: 100%;
}
#text13 {
    position: fixed;
    top: 1%;
    left: 1vh;
}

/*------------------------------------------------------------------------------*/

#mainMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../images/word2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
}
#button1 {
    position: fixed;
    top: 30%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#button2 {
    position: fixed;
    top: 55%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#button1_pressed {
    position: fixed;
    top: 30%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button_pressed.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#button2_pressed {
    position: fixed;
    top: 55%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button_pressed.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#text11 {
    position: fixed;
    top: 31%;
    width: 100%;
}
#text12 {
    position: fixed;
    top: 56%;
    width: 100%;
}
#text14 {
    position: fixed;
    top: 1%;
    left: 1vh;
}

/*------------------------------------------------------------------------------*/

#categoryMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../images/word2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
}
#button3 {
    position: fixed;
    top: 30%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#button4 {
    position: fixed;
    top: 55%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#button3_pressed {
    position: fixed;
    top: 30%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button_pressed.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#button4_pressed {
    position: fixed;
    top: 55%;
    height: 10%;
    width: 100%;
    background-image: url(../images/button_pressed.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
#text15 {
    position: fixed;
    top: 31%;
    width: 100%;
}
#text16 {
    position: fixed;
    top: 56%;
    width: 100%;
}
#text17 {
    position: fixed;
    top: 1%;
    left: 1vh;
}

/*------------------------------------------------------------------------------*/

.font1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 6vh;
    font-weight: bold;
    font-style: italic;
    color: white;
    /*-webkit-text-stroke: 2px black;
    text-stroke: 2px black;*/
}
.font2 {
    text-align: center;
    font-family: Helvetica;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
    color: white;
    /*-webkit-text-stroke: 2px black;
    text-stroke: 2px black;*/
}
.font3 {
    text-align: center;
    font-family: Helvetica;
    font-size: 4vh;
    font-weight: bold;
    font-style: italic;
    color: white;
    /*-webkit-text-stroke: 2px black;
    text-stroke: 2px black;*/
}
.font4 {
    text-align: left;
    font-family: Helvetica;
    font-size: 3.5vh;
    font-weight: bold;
    font-style: italic;
    color: white;
    /*-webkit-text-stroke: 2px black;
    text-stroke: 2px black;*/
}